@model IEnumerable<RestaurantRating.Models.Users>

@{
    ViewBag.Title = "GetReview";
}

<h2>GetReview</h2>

<p>
    @Html.ActionLink("Create New", "CreateReview")
</p>
<p>@Html.ActionLink("Back to Get", "DetailsReview")</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Reviews)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NameOfRest)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        using (Html.BeginForm("Delete", "Home", new { id = item.Id }))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Reviews)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NameOfRest)
                </td>
                <td>
                    <input type="submit" value="Delete" onclick="return confirm('Are you sure you want to delete record with ID= @item.Id');" />
                </td>
            </tr>
        }
    }

</table>
